// colors

$white: #FFF;
$green: #1db954;
$green-2: #1ED760;
$green-3: #1DB954;
$gray: #A0A0A0;
$gray-2: #202020;
$gray-3: #666666;
$gray-4: #242424;

// Media querys

$breakpoint-large: 1200px;
$breakpoint-tablet: 768px;
$breakpoint-phone: 600px;
