.Search {
  position: relative;
  background-color: $gray-4;
  padding: 1.5em 2em;

  &__title {
    color: $white;
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: .5em;
  }

  &__input {
    color: $green-2;
    font-weight: 700;
    font-size: 62px;
    line-height: 1.2;
    text-shadow: 0 0 0 $white;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -ms-text-fill-color: transparent;
    @media (max-width: $breakpoint-phone) {
      padding: 0;
    }
  }
}
